.background-img {
  position: absolute;
  z-index: -99;
  top: 120rpx;
  left: 0;
  width: 100vw;
  height: calc(100vh - 120rpx);
}

.loading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap {
  padding: 40rpx;

  .flex-wrap {
    height: calc(100vh - 240rpx);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .flex-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 700rpx;
      .hint {
        display: block;
        width: 600rpx;
        color: #585857;
        font-size: 30rpx;
      }
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40rpx;
        width: 622rpx;
        height: 452rpx;
        background: linear-gradient(
          180deg,
          #fafdfb,
          rgba(236, 247, 243, 0) 100%
        );
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        padding-right: 50rpx;

        .text-box > text {
          display: block;
          font-size: 35rpx;
          line-height: 60rpx;
          color: #3f4553;
        }
      }
    }
  }
}

.success {
  padding: 40rpx;
  .content {
    margin-top: 200rpx;
    height: 450rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .icon {
      width: 200rpx;
      height: 200rpx;
    }
    .label {
      display: block;
      color: #5b7d76;
      font-size: 40rpx;
      font-weight: 600;
    }
    .record-time {
      display: block;
      color: #3f4553;
      font-size: 35rpx;
    }
  }
}

.prohibit {
  padding: 40rpx;
  .content {
    margin-top: 200rpx;
    height: 320rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .icon {
      width: 200rpx;
      height: 200rpx;
    }
    .label {
      display: block;
      color: #feca97;
      font-size: 40rpx;
      font-weight: 600;
    }
  }
}

.greet {
  display: block;
  font-size: 60rpx;
  font-weight: 600;
  margin-left: 50rpx;
}

.btn {
  width: 400rpx;
}
