.loading-bar {
  width: 115rpx;
  height: 80rpx;
  margin: 0 auto;
  margin-top: 180rpx;

  & text {
    display: inline-block;
    width: 8rpx;
    height: 100%;
    margin-right: 15rpx;
    border-radius: 4rpx;
    background: #6ba4a4;
    animation: load 1s ease infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
  }

  @keyframes load {
    0%,
    100% {
      height: 80rpx;
      background: #ecf7f3;
    }
    50% {
      height: 150rpx;
      margin-top: -30rpx;
      margin-bottom: -30rpx;
      background: #6ba4a4;
    }
  }
}
