.auth-text {
  font-size: 40rpx;
  display: flex;
  justify-content: center;
  margin-top: 135rpx;
  color: #3d3d3d;
}

.wrap {
  --content-width: 80vw;
  --content-height: 80vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: var(--content-width);
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .input-box {
      display: flex;
      flex-direction: column;

      .user-info {
        width: var(--content-width);
        height: 120rpx;
        margin-bottom: 50rpx;
        padding: 0 40rpx;
        display: flex;
        align-items: center;
        .avatar {
          width: 100rpx;
          height: 100rpx;
          border-radius: 50rpx;
        }
        .nickname {
          font-size: 40rpx;
          color: #64687a;
          margin-left: 20rpx;
        }
      }

      .picker,
      .input {
        width: var(--content-width);
        height: 120rpx;
        font-size: 30rpx;
        padding: 0 40rpx;
        margin-bottom: 50rpx;
        background: #f2f3f7;
        border-radius: 30rpx;
      }
      .picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--input-text-color);
      }
      .picker::after {
        content: "";
        width: 10rpx;
        height: 10rpx;
        border: 5rpx solid var(--input-text-color);
        border-color: transparent var(--input-text-color)
          var(--input-text-color) transparent;
        border-radius: 5rpx;
        transform: rotate(45deg);
        margin-bottom: 10rpx;
      }
      .active {
        color: #000;
      }

      .input-placeholder {
        color: var(--input-text-color);
      }
      .input-focus {
        background-color: cadetblue;
      }
    }

    .message {
      color: #585857;
      font-size: 40rpx;
      line-height: 60rpx;
    }

    .btn {
      width: var(--content-width);
    }
  }
}
